<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shared note</title>
    <link href="https://fonts.googleapis.com/css?family=Varela&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dashboard.css">
    <link href="/dashboard_large.css" rel="stylesheet" media="screen and (min-width: 800px)">
    <link href="/dashboard_small.css" rel="stylesheet" media="screen and (max-width: 800px)">
    <script src="/jquery.js"></script>
    <script src="/autosize.js"></script>
    <script src="/dashboard.js"></script>
</head>
<body>
    <header>
        <div class="nav-wrapper">
        </div>
        <div class="frame">
                <a href="/"><h1 id="logo">Notes</h1></a>
        </div>
        
    </header>
    <main id="main">
        <div class="viewnote">
            <p><%= content %></p>
            <span class="viewinfo">by <%= name %><br><%= created %></span>
        </div>
        

    </main>
</body>
</html>